includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#^Invalid type Throwable\|false to throw\.$#'
    excludePaths:
        analyse:
            - src/Infrastructure/Shared/ApiPlatform/OpenApi/DynamicFilterGenerator.php
            - src/Infrastructure/Shared/Attribute/AttributeReader.php
            - src/Infrastructure/Message/Service/SmsSender.php
            - src/Application/User/EventSubscriber/SuccessLoginSubscriber.php
            - src/Infrastructure/Shared/Doctrine/DoctrinePaginator.php
